<h1>Enter what you would like to purchase</h1>
<form action='/checkout' method='POST'>
  <label for="buy_item">Item to Buy:</label>
  <input type='text' id='buy_item' name='buy_item'>
  <input type='submit' id='submit' name='submit'>
</form>
